/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-cyan: hsl(185, 75%, 39%);
  --primary-blue: hsl(229, 23%, 23%);
  --primary-gray: hsl(227, 10%, 46%);

  --neutral-dark-gray: hsl(0, 0%, 59%);

  --font-primary: "Kumbh Sans", sans-serif;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--primary-cyan);
  background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top 180% left 125%, bottom 180% right 125%;
}

.profile {
  background-color: white;
  border-radius: 1em;
  width: 90%;
  max-width: 21.9em;
  margin: 0 auto;
  overflow: hidden;
  font-family: var(--font-primary);
  color: var(--primary-blue);
}

.card__bio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  height: 18em;
}

.card__bg {
  background-image: url(./images/bg-pattern-card.svg);
  grid-column: 1/4;
  grid-row: 1/2;
}

.card__info {
  grid-column: 1/4;
  grid-row: 2/3;
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__name-age {
  padding-top: 4em;
  display: flex;
  align-items: center;
}

.card__img {
  grid-column: 2/3;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
  border-radius: 5em;
  border: solid 0.4em white;
  display: block;
}

.card__name {
  font-size: 1.6rem;
  font-weight: 700;
}

.card__age {
  padding-left: 0.5em;
  font-size: 1.4rem;
  color: var(--primary-gray);
}

.card__location {
  padding-top: 1em;
  font-size: 1rem;
  color: var(--primary-gray);
}

.card__social {
  margin-top: 1.5em;
  border-top: 1px solid rgb(231, 231, 231);
  padding: 2em 1.5em;
}

.card__social ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card__social-numbers {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  grid-row: 1/2;
}

.card__social-details {
  text-align: center;
  font-size: 0.9rem;
  color: var(--primary-gray);
}

@media (min-width: 900px) {
  body {
    background-position: top -1500% left -10%, bottom -1500% right -10%;
  }
}
